*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../Img/fcadastro.png");
	background-position: 50% 70%;
	color: darkblue;
	font-family: arial; 
	width: 100%;
	min-width: 100vw;
}

input{
	display:block;
	height: 35px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size:16px;
	padding: 10px 20px;
	background-color: white	;
	outline: none;
	color: black;
}	

div#Corpo-form{
	background-color: red;
	width: 420px;
	margin: 150px auto 0px auto;
}

div#Corpo-form-cad{
	width: 420px;
	margin: 80px auto 0px auto;
}

div#Corpo-form h1, div#Corpo-form-cad h1{
	text-align: center;
	padding: 20px;
	color: white;
}

a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
}

a:hover{
	text-decoration: underline;

}

input[type=submit]{
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}


div#msg-certo{
	width: 420px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(50,205,50,.3);
	border: 1px solid rgb(34,139,34);
}

div.msg-erro{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(250,128,114,.3);
	border: 1px solid rgb(165,42,42);
}
